Repository ohkami-rs/ohkami, pull requests merged in 2025-03, with the labels that each got.

#418 chore: fix account name in CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#419 enhance(openapi): provide default implementation of `openapi_responses` returning empty `Responses`
  ohkami/src/response/into_response.rs
Labels: enhance, T-openapi, T-response

#426 refactor(worker): use `Option<&'static str>` instead of unclear string convention
  ohkami/src/x_worker.rs
  ohkami_macros/src/worker.rs
  ohkami_macros/src/worker/binding.rs
Labels: T-worker, refactor

#429 enhance(fangs): set `SendSyncOnNative + 'static` as super trait of `Fang` `Fangs`
  ohkami/src/fang/middleware/mod.rs
  ohkami/src/fang/mod.rs
  ohkami/src/ohkami/mod.rs
Labels: enhance, T-fangs

#430 enhance(ohkami): Support howl with an existing `TcpListener`
  ohkami/src/lib.rs
  ohkami/src/ohkami/mod.rs
Labels: enhance, T-ohkami

#432 enhance(ohkami): Support single-thread async runtime on multiple threads
  examples/Cargo.toml
  examples/hello/Cargo.toml
  examples/multiple-single-threads/Cargo.toml
  examples/multiple-single-threads/src/main.rs
  ohkami/src/ohkami/mod.rs
Labels: enhance, T-ohkami

#434 fix(request): hardcoded buffer size
  Taskfile.yaml
  examples/Cargo.toml
  examples/jwt/.env.sample
  examples/jwt/.gitignore
  examples/jwt/Cargo.toml
  examples/jwt/src/main.rs
  examples/test.sh
  ohkami/src/config.rs
  ohkami/src/fang/builtin/jwt.rs
  ohkami/src/lib.rs
  ohkami/src/request/_test_parse.rs
  ohkami/src/request/mod.rs
Labels: fix, T-request

#437 chore: test `.Dir()`
  examples/static_files/public/.env.sample
  examples/static_files/public/index.html
  examples/static_files/public/index.js
  examples/static_files/src/main.rs
  examples/test.sh
  ohkami/src/ohkami/dir.rs
  ohkami/src/ohkami/routing.rs
  ohkami/src/router/segments.rs
  ohkami/src/testing/mod.rs
Labels: chore, T-testing, refactor, T-routing

#438 fix: check `Content-Length` in `testing` and correctly set `Content-Length` in `StaticFileHandler` of `Dir`
  ohkami/src/ohkami/dir.rs
  ohkami/src/testing/mod.rs
Labels: fix

#439 enhance(testing): expect `TestResponse::json`'s `serde_json::Result` to be `Ok`
  examples/jwt/src/main.rs
  ohkami/src/fang/builtin/jwt.rs
  ohkami/src/testing/mod.rs
  samples/realworld/src/_test.rs
Labels: enhance, T-testing

#441 tls: basic tls implementation with tokio-rustls (tokio-only!)
  ohkami/Cargo.toml
  ohkami/src/header/etag.rs
  ohkami/src/lib.rs
  ohkami/src/ohkami/mod.rs
  ohkami/src/session/mod.rs
  ohkami/src/tls/mod.rs
Labels: enhance, feat, T-session, T-tls

#445 Use per-read timeouts for improved keepalive handling in session
  ohkami/src/session/mod.rs
Labels: enhance, T-sse, T-session
